@font-face {
	font-family: Arial;
	src: url('../fonts/Arial.ttf')
}
@font-face {
	font-family: bpg_ingiri_arial;
	src: url('../fonts/bpg_ingiri_arial.ttf')
}
@font-face {
	font-family: bpg_nino_mtavruli_bold;
	src: url('../fonts/bpg_nino_mtavruli_bold.ttf')
}